<%- include('partials/header.ejs'); -%>
<div class="outer">
    <div class="inner">
        <div id="jokeContainer">
            <h2 id="jokeSetup"><%= setup %></h2>
            <h2 id="jokeDelivery"><%= delivery %></h2>
            <h2 id="jokeSingle"><%= joke %></h2>
        </div>
        <div id="buttonContainer">
            <button id="getJoke">Make Me Smile</button>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs'); -%>